# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
.DS_Store
# Crash log files
crash.log

# Local .terraform directories
.terraform/

# Override files
override.tf
override.tf.json

# Workspace files
workspace.tfstate

# Terraform-specific files
.terraform.lock.hcl

# Ignore any backup files
*.bak
*.tmp
